 @font-face {
    font-family: 'Norwester';
    src: url('/fonts/norwester-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
 
body {
  background-color: #d8d8d8;
  transition: background-color .75s ease;
  font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  color: #212121;
  margin: 0px;
  text-align:center;

}
#logo {
  width: 50%;
  font-family: "Montserrat", "Helvetica Neue", "Arial", sans-serif;
  font-size: 50px;
  display:block;
  margin-left:auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  margin-top: 0px;
}

#innerContainer {
  min-height: 220px;
}

h2 {
  font-family: 
}

#info, .results, #results-text {
  text-align: center;
  margin-bottom:160px;
  margin-top: 15px;
  max-width:660px;
  margin-right: auto;
  margin-left: auto;
  left:0;
  right:0;
  position:absolute;
}

#info {
  font-size: 13px;
  margin-top:40px;
}

#info p {
  font-size: 18px;
  margin-bottom: 0px;
}

.results {
  font-size:18px;
  opacity: 0;
}

h2 {
  font-family: "Montserrat", "Helvetica Neue", "Arial", sans-serif;
  margin-bottom: 10px;
  font-size:40px;
}

#loadingImage {
  height: 100px;
  margin-top:30px;
  opacity: .4;
}

form {
  text-align:center;
  white-space: nowrap;
}

#url {
  padding: 8px 11px;
  font-size:28px;
  border: 1px solid white;
  color: #212121;
  width: 20em;
  height: 10em;
  max-width: 75%;
  border-radius: 0px;
  margin:auto;
  border-color: #e8e8e8;
  padding: 12px 20px; 
  padding-bottom: : 200px;
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);*/
}

input::placeholder {
  color: #bbb;
}

#submit {
  padding: 8px 11px;
  width: 20em; 
  border: 1px solid #212121;
  background-color: #212121;
  color:white;
  margin-top:3px;
  border-radius: 0px;
  font-family: "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 28px;

}

#submit:hover {
  background-color: white;
  color: #212121;
}

a {
  color: white;
}